version: "3.9"
services:
  web:
    build:
      context: .
      target: runner
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    volumes:
      - .:/app:rw
      - /app/.venv
    environment:
      - DJANGO_SETTINGS_MODULE=app.core.settings.local
    depends_on:
      - db
      - redis

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: neo_librus
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    ports:
      - "6379:6379"
