version: "3.9"
services:
  web:
    build:
      context: .
      target: runner
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    volumes:
      - .:/app:rw
      - /app/.venv
    environment:
      - DJANGO_SETTINGS_MODULE=app.core.settings.local
    depends_on:
      - db
      - redis

  db:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: librarius
      MYSQL_USER: root
      MYSQL_PASSWORD: password
      MYSQL_ROOT_PASSWORD: password
    ports:
      - "3306:3306"

  redis:
    image: redis:7
    ports:
      - "6379:6379"
